@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-y: block;
  scroll-behavior: smooth;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;  
}
.nav__list{
  margin-top: 30px;
}

header ul{
  display: flex;
  margin-left: 45%;
}
header ul li{
  list-style: none;
  margin: 0 10px ;
}
header ul li a{
  text-decoration: none;
  color: #000;
}
header ul li a:hover{
    color: #0299d5;
    font-weight: 400;
    transition-duration: 0.5s;
}

.content{
    margin-top: 20%;
    max-width: 700px;
    border-radius: 20px;
    padding: 40px;
    padding-left: 110px;
}

.content h2{
    font-size: 3em;
    color: #000;
}

.content p{
    font-size: 1.2em;
    color: #000;
    font-weight: 700;
}

.content button{
    display: inline-block;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-right: 5PX;
    border: none;
    cursor: pointer;
}
.content button:hover{
    background-color:#0299d5;
    transition-duration: 0.5s;
    color: #fff;
}

.circle{
  max-width: 30%;
  margin: 50px auto;
}
.circle h1{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.circle img{
  width: 100%;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.img-inicio {
    margin-top: -15%;
    margin-left: 60%; 
    margin-bottom: 20%;
}
.ar9000{
  margin: 50px auto;
  max-width: 40%;
  margin-right: 52%;
  text-align: center;
}
.ar9000 a{
  display: inline-block;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-right: 5PX;
}
.ar9000 a:hover{
  background-color:#0299d5;
  transition-duration: 0.5s;
  color: #fff;
}
.ar1200{
  margin: 50px auto;
  max-width: 40%;
  margin-left: 52%;
  text-align: center;
}
.ar1200 a{
  display: inline-block;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-right: 5PX;
}
.ar1200 a:hover{
  background-color:#0299d5;
  transition-duration: 0.5s;
  color: #fff;
}
.ar24000{
  margin: 50px auto;
  max-width: 40%;
  margin-right: 52%;
  text-align: center;
}
.ar24000 a{
  display: inline-block;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-right: 5PX;
}
.ar24000 a:hover{
  background-color:#0299d5;
  transition-duration: 0.5s;
  color: #fff;
}
.ar6000{
  margin: 50px auto;
  max-width: 40%;
  margin-left: 52%;
  text-align: center;
}
.ar6000 a{
  display: inline-block;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-right: 5PX;
}
.ar6000 a:hover{
  background-color:#0299d5;
  transition-duration: 0.5s;
  color: #fff;
}

.outros{
  max-width: 30%;
  margin: 50px auto;
}
.outros p{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.outros img{
  width: 100%;
  height: 50%;
  animation: spin2 4s linear infinite;
}

@keyframes spin2 {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.outros a{
  display: inline-block;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
}
.outros a:hover{
  background-color:#0299d5;
  transition-duration: 0.5s;
  color: #fff;
  
}

.termos{
  margin: 50px auto;
  color: #fff;
  background-color: #0299d5;
  text-align: center;
  width: 50%;
  border-radius: 5%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.termos p{
  margin-top: 30%;
  margin-bottom: 30%;
  padding: 10%;
}
.termos:hover{
  transform: translateY(-5px);
  
}
.section {
  margin-top: 30px;
  left: 0;
  bottom: 12px;
  width: 100%;
  /*background: #29277a;*/
  background: rgba(0, 0, 0, 0.297);
  padding-top: 60px;
}

footer.top > img {
  height: 50px;
  margin: 0 auto 50px;
}

footer {
  position: relative;
  margin: 0 30px;
  color: #000;
}

footer.top {
  display: grid;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
  padding-bottom: 20px;
}

footer.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 20px 0;
  text-align: center;

}
.footer.bottom a{
  list-style: none;
  text-decoration: none;
}
footer.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.links-column {
  display: grid;
  gap: 10px;
  text-align: center;

}
.links-column a{
  list-style: none;
  text-decoration: none;
  color: #000;
}
footer h2 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

footer p {
  margin: 0;
}

.legal > a {
  margin: 0 0 0 4px;
}


.legal,
.copyright {
  font-size: 12px;
}

.legal > span {
  margin-right: 10px;
}

footer.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 56px;
}

footer.top .socials > a {
  font-size: 24px;
  list-style: none;
  text-decoration: none;
  color:#000
}

.socials-column :is(h2, p) {
  display: none;
}

@media (width > 400px) {
  .links-column {
    text-align: left;
  }

  footer.top .links {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }

  footer.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: left;
  }

  footer.top .socials {
    left: 0;
    translate: 0;
  }

  footer.top > img {
    margin: 0 0 50px;
  }
}

@media (width >= 640px) {
  footer {
    margin: 0 auto;
    max-width: 580px;
    padding: 0;
  }

  footer.top .links {
    grid-template-columns: repeat(3, 1fr);
  }

  footer.top .socials {
    position: static;
  }

  footer.bottom {
    justify-content: flex-start;
  }

  .socials-column :is(h2, p) {
    display: block;
  }
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    color: #0299d5;
    font-size: 3rem;
    font-family: sans-serif;
}

.contenedor {
  width: 570px;
  height: 40px;
  color: #0299d5;
  font-size: 28px;
  font-family: sans-serif;
  line-height: 40px;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;

}

.contenedor:before {
  content: '[';
  left: 0;
}

.contenedor:after {
  content: ']';
  right: 0;
}

.contenedor:after,
.contenedor:before {
  top: 0px;

  color: #0299d5;
  font-size: 40px;
  line-height: 40px;

  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.contenedor ul {

  list-style: none;
  margin: 0px;
  animation: cambiar 12s infinite;
  text-align: center;
  padding: 5px 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #0299d5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 50px auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
}
.doming h3{
  color: #000;
  width: 100%;
  margin-top: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
}
.doming h3:hover{
  color: #0299d5;
  transition-duration: 0.5s;
  cursor: pointer;
}
#myDialog{
  border: none;
  border-color: rgba(0, 0, 0, 0.0);
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  width: 120%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  align-items: center;
}

.slide img {
  object-fit: cover;
  margin: 50px auto;
  width: 10%;
}
.carousel-slides {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slide 40s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}



@keyframes slide {
  0% { transform: translateX(0); }
  16.67% { transform: translateX(-100%); }
  33.33% { transform: translateX(-200%); }
  50% { transform: translateX(-300%); }
  66.67% { transform: translateX(-400%); }
  83.33% { transform: translateX(-500%); }
  100% { transform: translateX(0); }
}

.chart-container {
  text-align: center;
  width: 50%;
  margin: 15% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  background-color: #0299d5;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
  max-width: 800px;
  margin: 0 auto;
}

.bar {
  width: 15%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  height: 0;
  transition: height 30s ease-in-out;
}

.bar .label {
  position: absolute;
  bottom: -30px;
  font-size: 14px;
}

.bar .value {
  position: absolute;
  top: 0;
  font-size: 14px;
  color: #0299d5;
  font-weight: bold;
}